@model List<JobAdderAssignement.Logic.ProcessedJob>
@{
    ViewBag.Title = "Home Page";
}

<div style="margin:10px;" class="row">
    @foreach (var job in Model)
    {
        <div class="col-6 col-lg-4 panel panel-default">

            <h2 style="white-space: nowrap;">@job.name</h2>
            <h4>@@ @job.company</h4>
            <p>
                <ul>
                    @foreach (string skill in job.skills.Split(',').Take(3))
                {
                        <li>@skill</li>
                    }
                </ul>
            </p>
            <u>Best fit</u>
            <div>
                <div class="progress progress-bar-vertical" style="float:left;">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="@job.SortedCandidates[0].PercentSkills" aria-valuemin="0" aria-valuemax="100" style="height: @job.SortedCandidates[0].PercentSkills%;">
                        @job.SortedCandidates[0].PercentSkills
                        %
                    </div>
                </div>
                <img style="float:left; height:100px" src=@("https://randomuser.me/api/portraits/" + (job.SortedCandidates[0].candidateId%2 == 0?"men":"women") + "/"+ (job.SortedCandidates[0].candidateId%100 + 1) + ".jpg") />

                <b>@job.SortedCandidates[0].name.Split(' ')[0]</b>
                <br />
                <b>@job.SortedCandidates[0].name.Split(' ')[1]</b>
            </div>


        </div>
    }
</div>